@import "./color.scss";

.account-info {
  max-width: 1140px;
  margin: 40px auto;
  color: $darkslategrey;

  .catalog-container {
    border: 1px solid $lightpink;
    padding: 16px;
    border-radius: 5px;
    margin: 0 18px 0 68px;

    .account-icon {
      color: $lightpink;
      width: 100%;
      height: 78px;
      margin-bottom: 14px;
    }

    ul {
      list-style: none;

      li {
        font-weight: 700;
        margin: 0 12px 2px 12px;
        padding: 4px;
        cursor: pointer;

        &:not(:last-child) {
          box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
            rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        }

        &:hover {
          color: $lightpink;
        }

        &.active {
          color: $lightpink;
        }
      }
    }
  }

  .info-container {
    border: 1px solid $lightpink;
    padding: 16px;
    border-radius: 5px;

    .info-title {
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 8px;
      font-size: 17px;
      filter: brightness(1.2);
    }

    .divider {
      width: 100%;
      border-top: 1px solid $divider;
    }

    .form-interface {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
      margin-left: 24px;

      label,
      input {
        display: block;
        margin-bottom: 2px;
      }

      label {
        margin-top: 6px;
        margin-right: 12px;
        font-weight: 600;
        width: 170px;
        text-align: right;
      }

      input,
      select {
        height: 34px;
        border: 1px solid $lightpink;
        border-radius: 4px;
        width: 400px;
        padding: 2px 10px 0 10px;
      }

      select {
        padding: 2px 6px 0 6px;
      }

      .form-control {
        margin-bottom: 16px;
        width: 100%;
        display: flex;

        .input-container {
          display: flex;
          flex-direction: column;
        }
      }

      .update-btn {
        background: $lightpink;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        height: 34px;
        border-radius: 4px;
        width: 86px;
        margin-left: 182px;
        margin-top: -3px;

        &:hover {
          background: $coralpink;
        }
      }

      .update-btn[disabled] {
        background: $disabledpink;
        cursor: default;

        &:hover {
          background: $disabledpink;
        }
      }
    }

    .order-history {
      border-collapse: collapse;
      margin-top: 22px;

      th, td {
        // width: 20%;

        &:first-child {
          text-align: left;
          width: 15%;
        }

        &:nth-child(2) {
          width: 23%;
        }

        &:nth-child(3) {
          width: 22%;
        }

        &:nth-child(4) {
          width: 20%;
        }

        &:nth-child(5) {
          width: 20%;
        }
      }

      th {
        font-size: 17px;
        border-bottom: 1px solid #a2a2a2;
        padding-bottom: 4px;
      }

      td {
        text-align: center;
      }

      tbody {
        td {
          border-bottom: 1px solid #dee2e6;
          padding: 12px 0;

          &:nth-child(1), &:nth-child(5) {
            color: $lightskyblue;
          }

          &:nth-child(4) {
            color: $lightpink;
          }

          .view-detail-btn {
            cursor: pointer;
          }
        }
      }
    }
  }
}
