$indianred: #e56266;
$darkindianred: #cf4a64;
$lightcoral: #e96e83;
$lightpink: #ffb0bd;
$white: #fff;
$lightsteelblue: #afc7ee;
$steelblue: #3f5da7;
$lightgreen: #abd5b2;
$silvergreen: #bfd9a7;
$greygreen: #808879;
$khaki: #ffe476;