$indianred: #e56266;
$sweetindianred: #cf4a64;
$lightcoral: #e96e83;
$coralpink: #fd8fa1;
$disabledpink: #ffb0bdba;
$lightpink: #ffb0bd;
$mistyrose: #fbd6db;
$palemistyrose: #ffdee2;
$white: #fff;
$ghostwhite: #f8f8fa;
$whitesmoke: #f4f4f4;
$lightsilver: #f3f1f1;
$gainsboro: #e6e6e6;
$silver: #e1e6eb;
$divider: #d9dcde;
$lightgrey: #c3c3c3;
$grey: #b3b3b3;
$mediumgrey: #838383;
$dimgrey: #656565;
$darkgrey: #636d77;
$darkslategrey: #2f2f36;
$black: #000;
$dimpink: #8c4863;
$darkpink: #4c2736;
$lightsteelblue: #afc7ee;
$lightskyblue: #93cdff;
$steelblue: #3f5da7;
$lightgreen: #abd5b2;
$silvergreen: #bfd9a7;
$greygreen: #808879;
$brightyellow: #fbff00;
$khaki: #ffe476;
$peru: #da8d4b;
$flowerblue: #78a0cf;
$mediumturquoise: #4bc2c5;

.text-gradient {
  background-image: linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
  background-clip: text;
  color: transparent;
}

/* My Pallette */

$cornflowerblue: #508aff;
$sandybrown: #ffc355;
$hotpink: #ff7eae;
$mediumslateblue: #8254ff;
$brightghostwhite: #f7fbff;
$tomato: #fa5b5f;
$lavender: #efe9ff;
$lightslategray: #848493;

$darkersandybrown: #f6ad56;
$oldlace: #fef4e8;
$turquoise: #43d8cf;
$lightcyan: #e6faf8;
$darkerindianred: #e94865;
$lavenderblush: #fceaee;
$mediumaquamarine: #60d590;
$mintcream: #f3fcf7;

$lightghostwhite: #fafafb;

/* Another Pallette */

$apal1: #ff43ca;
$apal2: #ff4387;
$apal3: #ff4343;
$apal4: #ff7b43;
$apal5: #ffb443;
$apal6: #19e9aa;
$apal7: #19b7e9;

$dodgerblue: #2697ff;
$aqua: #26e5ff;
$gold: #ffcf26;
$crimson: #ee2727;


/* ----- Pallette ----- */

$pal1: #cabbe9;
$pal2: #ffcef3;
$pal3: #fdfdfd;
$pal4: #a1eafb;
// --------------------

$pal5: #d7eaea;
$pal6: #acdbdf;
$pal7: #9692af;
$pal8: #69779b;
// --------------------

$pal9: #fecea8;
$pal10: #ff847c;
$pal11: #e84a5f;
$pal12: #2a363b;
// --------------------

