$indianred: #e56266;
$sweetindianred: #cf4a64;
$lightcoral: #e96e83;
$lightpink: #ffb0bd;
$white: #fff;
$lightsilver: #f3f1f1;
$silver: #e1e6eb;
$grey: #b3b3b3;
$darkgrey: #636d77;
$black: #000;
$dimpink: #8c4863;
$darkpink: #4c2736;
$lightsteelblue: #afc7ee;
$steelblue: #3f5da7;
$lightgreen: #abd5b2;
$silvergreen: #bfd9a7;
$greygreen: #808879;
$khaki: #ffe476;