$indianred: #e56266;
$sweetindianred: #cf4a64;
$lightcoral: #e96e83;
$coralpink: #fd8fa1;
$lightpink: #ffb0bd;
$mistyrose: #fbd6db;
$palemistyrose: #ffdee2;
$white: #fff;
$ghostwhite: #f8f8fa;
$whitesmoke: #f4f4f4;
$lightsilver: #f3f1f1;
$silver: #e1e6eb;
$divider: #d9dcde;
$grey: #b3b3b3;
$darkgrey: #636d77;
$darkslategrey: #2f2f36;
$black: #000;
$dimpink: #8c4863;
$darkpink: #4c2736;
$lightsteelblue: #afc7ee;
$lightskyblue: #93cdff;
$steelblue: #3f5da7;
$lightgreen: #abd5b2;
$silvergreen: #bfd9a7;
$greygreen: #808879;
$khaki: #ffe476;
$peru: #da8d4b;