@import "./color.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600;700&display=swap");

.full-screen-background {
  width: 100%;
  height: 100vh;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    attachment: fixed;
  }
}

.dashboard {
  overflow: auto;

  .dashboard-container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 12px;
  }

  .dashboard-navigation {
    position: relative;
    background-color: $white;
    border-radius: 3px;
    width: 100%;
    height: 74px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: $dimgrey;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;

    .dashboard-logo {
      display: flex;
      align-items: center;

      .logo-icon {
        width: 60px;
        height: 60px;
      }

      .logo-img {
        width: 82px;
      }

      .logo-title {
        margin-left: 4px;
        font-size: 38px;
        font-weight: 500;
        color: $cornflowerblue;
        font-family: "Mali", cursive;
      }
    }

    .dashboard-nav {
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-size: 22px;
      font-weight: 300;
      width: 500px;

      li {
        padding: 0 22px;

        &.active {
          transform: scale(1.4);
          margin-top: -1px;
          color: #e93e53;
        }

        span {
          cursor: pointer;

          &:hover {
            color: #838999;
          }
        }
      }

      .statistics.active {
        padding-right: 44px;
      }

      .products.active {
        padding-left: 26px;
      }

      .orders.active {
        padding-left: 38px;
        padding-right: 10px;
      }
    }

    .log-out-btn {
      display: flex;
      align-items: center;
      padding: 0 14px;
      cursor: pointer;

      &:hover {
        color: #97d8cc;
      }

      .log-out-icon {
        width: 24px;
        height: 23px;
        margin-top: -2px;
      }

      .log-out-title {
        font-size: 17px;
        font-weight: 300;
        margin-left: 7px;
      }
    }
  }

  .dashboard-body {
    position: relative;
    background-color: $white;
    border-radius: 3px;
    padding: 16px 16px;
    width: 100%;
    height: 550px;
    margin: 40px auto 40px auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;

    .add-new-product-btn {
      background: $mediumturquoise;
      border-radius: 5px;
      cursor: pointer;
      color: $white;
      text-align: center;
      float: right;
      padding: 14px 22px;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        background-color: #45b2b5;
      }
    }
  }
}

// ----- Authentication -----

.admin-auth {
  * {
    font-family: "Roboto", sans-serif;
  }

  .login-container {
    width: 540px;
    background-color: $white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 26px 32px 36px 32px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .logo-icon {
      margin: 0 auto;
      display: block;
      width: 104px;
      height: 104px;
      color: $dimgrey;
      margin-bottom: 24px;
    }

    .form-container {
      .error {
        font-size: 16px;
      }

      label,
      input {
        display: block;
        margin-bottom: 6px;
      }

      label {
        margin-left: 2px;
        color: $dimgrey;
        font-weight: 600;
      }

      input {
        width: 100%;
        height: 58px;
        border: 1px solid $divider;
        padding: 14px 20px;
        font-size: 20px;
        border-radius: 4px;

        &::placeholder {
          font-size: 20px;
          color: $grey;
          margin-top: 4px;
        }
      }

      .form-control {
        margin-bottom: 22px;
        width: 100%;
      }

      .submit-btn {
        background: $dimgrey;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 22px;
        height: 62px;
        margin-top: 2px;
        // margin-bottom: -12px;
        width: 100%;
        border-radius: 4px;

        &:hover {
          background: $darkslategrey;
        }
      }
    }
  }
}
