@import "./color.scss";

.dialog {
  #overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .dialog-container {
    background: $white;
    border-radius: 2px;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &.admin-mode {
      border-radius: 6px;
    }

    .message {
      text-align: center;
      font-size: 18px;
      margin: 30px 22px 25px 22px;
    }

    .option-btn-group {
      display: flex;
      justify-content: flex-end;
      text-transform: uppercase;
      margin-top: 12px;
      font-size: 14px;
      font-weight: 600;

      .cancel-btn,
      .accept-btn {
        padding: 8px 10px 4px 10px;
        cursor: pointer;
        min-width: 76px;
        text-align: center;
        border-radius: 2px;
      }

      .cancel-btn {
        color: $lightpink;
        border: 1px solid $lightpink;
        margin-right: 8px;

        &:hover {
          background-color: $whitesmoke;
        }
      }

      .accept-btn {
        color: $white;
        background: $lightpink;

        &:hover {
          background-color: $coralpink;
        }
      }

      &.admin-mode {
        .cancel-btn {
          color: $hotpink;
          border-color: $hotpink;
        }

        .accept-btn {
          background: $hotpink;

          &:hover {
            background-color: darken($hotpink, 6);
          }
        }
      }
    }
  }
}
