@import "./color.scss";

.edit-order {
  #overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .edit-order-container {
    width: 800px;
    background-color: $white;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 48px 70px 42px 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .btn-group {
      margin-top: 72px;
      display: flex;
      border: 1px solid $hotpink;
      border-radius: 4px;
      margin-right: -1px;

      div {
        min-width: 40px;
        line-height: 36px;
        cursor: pointer;
        color: $hotpink;
        text-align: center;
        flex: 0 0 25%;
        max-width: 25%;
        font-weight: 600;
        margin-bottom: -1px;
        margin-top: -1px;

        &:not(:last-child) {
          border-right: 1px solid $hotpink;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:hover {
          background: $hotpink;
          color: $white;
        }
      }

      .cancel-order-btn {
      }

      .prev-step-btn,
      .next-step-btn {
      }

      .close-btn {
      }
    }

    .close-btn {
      position: absolute;
      top: 6px;
      right: 6px;
      border-radius: 6px;
      width: 33px;
      height: 33px;
      text-align: center;
      cursor: pointer;
      transition: 0.4s;

      .close-icon {
        width: 26px;
        height: 100%;
        color: $lightslategray;
        transition: 0.1s;
      }

      &:hover {
        background: lighten($hotpink, 4);

        .close-icon {
          color: $white;
        }
      }
    }
  }
}
