@import './color.scss';

.new-products-section {
  .container {
    max-width: 1140px;
    margin: 0 auto;

    .section-title {
      font-weight: 900;
      font-size: 28px;
      margin-bottom: 12px;
    }

    .load-more-btn {
      cursor: pointer;
      text-transform: uppercase;
      color: $white;
      background-color: $lightpink;
      width: 108px;
      padding: 11px 0;
      text-align: center;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      margin: {
        left: auto;
        right: auto;
        bottom: 50px;
        top: 4px;
      }

      &:hover {
        background-color: $coralpink;
      }
    }
  }
}