@import "./color.scss";

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.order-detail {
  width: 1000px;
  max-height: 600px;
  overflow-y: auto;
  background-color: $white;
  border-radius: 6px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 34px;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffb0bd7a;
  }

  .order-title {
    font-size: 17px;
    margin: 12px 22px 24px 22px;
  }

  .order-cart-list {
    .heading-title {
      display: flex;
      font-size: 19px;
      background-color: $mistyrose;
      line-height: 48px;
      text-align: center;
      font-weight: 700;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .product-color {
        flex: 0 0 12%;
        max-width: 12%;
      }

      .product-description {
        flex: 0 0 40%;
        max-width: 40%;
      }

      .product-quantity {
        flex: 0 0 15%;
        max-width: 15%;
      }

      .product-unit-price {
        flex: 0 0 18%;
        max-width: 18%;
      }

      .product-total-price {
        flex: 0 0 12%;
        max-width: 12%;
      }
    }

    .order-cart-detail {
      .item-row {
        display: flex;
        text-align: center;
        font-size: 16.5px;
        align-items: center;
        border: 1px solid $divider;
        border-top: none;

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .product-color-container {
          flex: 0 0 12%;
          max-width: 12%;
        }

        .product-description {
          flex: 0 0 40%;
          max-width: 40%;
        }

        .product-quantity {
          flex: 0 0 15%;
          max-width: 15%;
        }

        .product-unit-price {
          flex: 0 0 18%;
          max-width: 18%;
        }

        .product-total-price {
          flex: 0 0 12%;
          max-width: 12%;
        }
      }

      .product-color-container {
        padding: 10px;

        .product-color {
          padding-top: 100%;
          background: {
            size: contain;
            repeat: no-repeat;
          }
        }
      }
    }
  }

  .extra-info {
    display: flex;
    justify-content: space-between;
    margin: 16px 18px 0 0;
    font-size: 17px;

    ul {
      list-style: none;

      li {
        line-height: 25px;

        span {
          font-weight: 600;
        }
      }
    }

    .buyer-info,
    .payment-info {
      background: $whitesmoke;
      padding: 10px;
      border-radius: 4px;
    }

    .buyer-info {
      margin-right: 18px;
    }

    .payment-info {
    }

    .col-60 {
      flex: 0 0 60%;
      max-width: 60%;
    }

    .col-40 {
      flex: 0 0 40%;
      max-width: 40%;
    }
  }
}
